.cover__subtitle {
  margin: 0;
  position: relative;
  padding-top: 32px;
  padding-left: calc((100% - 360px)/2);
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
}


@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}