.cover__subtitle {
  position: relative;
  padding-bottom: 245px;
  padding-left: 412px;
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
}
