.cover__subtitle {
  position: absolute;
  top: 429px;
  right: 412px;
  z-index: 1;
  width: 360px;
  padding-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: center;
}
