.header {
  position: relative;
  padding-top: 46px;
  padding-right: 48px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 54px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 30px;
    padding-right: 16px;
    padding-bottom: 56px;
  }
}
