.cover__background {
  position: relative;
  height: 62.5vw;
  max-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
}

.cover__background::before {
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  box-sizing: border-box;
  transition: 0.8s;
}

.cover__background:hover::before {
  opacity: 0.8;
}
