.lead__caption {
  margin: 8px 0 0;
  width: 100%;
  max-width: 984px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;

  /* identical to box height, or 140% */

  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    max-width: 928px;
    
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    width: calc(100% - 24px);
  }
}

@media screen and (max-width: 320px) and (min-width: 321px) {
  .lead__caption {
    padding-left: 16px;
    width: calc(100% - 16px);
  }
}
