.cover__title {
  position: relative;
  padding-top: 245px;
  padding-left: 312px;
  width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
}
