.place {
  margin: 0 auto;
  padding-top: 80px;
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
  column-gap: 40px;
  row-gap: 48px;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    padding-top: 72px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 710px) {
  .place {
    padding-top: 50px;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__image"
      "place__paragraph";
    row-gap: 32px;
    /* justify-items: center;*/
  }
}
