.place__url-heading {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  color: #aaaaaa;
  letter-spacing: 2px;
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
